nifi/assets/NiFi_Flow.json
{"flowContents":{"identifier":"e87ff5e2-4a7c-3725-a3ee-148beb2fbabc","instanceIdentifier":"204f3ef0-0193-1000-989f-8abd9511fc8b","name":"NiFi_Flow","comments":"","position":{"x":-152.5,"y":-245.0500030517578},"processGroups":[{"identifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384","instanceIdentifier":"0d226d5d-b8aa-30a4-7b55-28061d9ca454","name":"Bulk Import","comments":"","position":{"x":-248.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"18562f78-aad3-3460-8587-c129fc2e149a","instanceIdentifier":"4b09088d-d955-38bc-b761-6988d0c5e8fb","name":"LogMessage","comments":"","position":{"x":-408.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"5b17813e-f536-31bf-9980-0d708313d98e","instanceIdentifier":"7084db67-0433-3c70-a519-5b8c6db2b1b1","name":"ImportVastDB","comments":"","position":{"x":-1008.0,"y":-464.0},"type":"python.ImportVastDB","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.8"},"properties":{"VastDB Table Name":"userdata","VastDB Database Schema":"users_import","VastDB Bucket":"csnowdb","Schema Merge":"Union","VastDB Endpoint":"http://172.200.201.1:80","VastDB Credentials Provider Service":"43fb3340-a307-360c-869b-68ce6ca06b53"},"propertyDescriptors":{"VastDB Table Name":{"name":"VastDB Table Name","displayName":"VastDB Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Database Schema":{"name":"VastDB Database Schema","displayName":"VastDB Database Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Bucket":{"name":"VastDB Bucket","displayName":"VastDB Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Merge":{"name":"Schema Merge","displayName":"Schema Merge","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Endpoint":{"name":"VastDB Endpoint","displayName":"VastDB Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Credentials Provider Service":{"name":"VastDB Credentials Provider Service","displayName":"VastDB Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"bd99598a-bc29-3d8e-b697-97330c47c59e","instanceIdentifier":"031d1ba4-db0d-345c-a354-aaae6d504a5f","name":"ListS3","comments":"","position":{"x":-1008.0,"y":-672.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"list-type":"1","et-initial-listing-target":"all","prefix":"import-files/","record-writer":"e42c496a-d5cf-3a6d-961d-04e28a054fe4","proxy-configuration-service":null,"Endpoint Override URL":"http://172.200.201.1:80","et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":"f4d5318a-367a-32d1-b434-62928d73ea58","Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"csnow-bucket","Communications Timeout":"30 secs","Region":"us-west-2","et-state-cache":null,"use-versions":"false"},"propertyDescriptors":{"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cc90e528-bc8f-3dd0-809e-31640145563c","instanceIdentifier":"3a0838a3-032f-3785-fc10-5d7a528a6149","name":"","source":{"id":"5b17813e-f536-31bf-9980-0d708313d98e","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"ImportVastDB","comments":"","instanceIdentifier":"7084db67-0433-3c70-a519-5b8c6db2b1b1"},"destination":{"id":"18562f78-aad3-3460-8587-c129fc2e149a","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"LogMessage","comments":"","instanceIdentifier":"4b09088d-d955-38bc-b761-6988d0c5e8fb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"c2224e5e-417e-3ead-826e-6ee58bcf0663","instanceIdentifier":"c72b7541-6fef-3f6d-561c-769f782d74fe","name":"","source":{"id":"bd99598a-bc29-3d8e-b697-97330c47c59e","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"ListS3","comments":"","instanceIdentifier":"031d1ba4-db0d-345c-a354-aaae6d504a5f"},"destination":{"id":"5b17813e-f536-31bf-9980-0d708313d98e","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"ImportVastDB","comments":"","instanceIdentifier":"7084db67-0433-3c70-a519-5b8c6db2b1b1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e42c496a-d5cf-3a6d-961d-04e28a054fe4","instanceIdentifier":"7975af21-d29d-36f8-35a4-fc67bd96bec4","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e87ff5e2-4a7c-3725-a3ee-148beb2fbabc"},{"identifier":"54239340-e7ca-316e-a55c-e09a42580445","instanceIdentifier":"23dab7aa-7667-3c0e-5b6f-3c319613db53","name":"Streaming","comments":"","position":{"x":-246.0,"y":-182.5},"processGroups":[{"identifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","instanceIdentifier":"67df4e20-fd17-3874-ea34-5e39bc387e33","name":"Publish to Kafka","comments":"","position":{"x":392.0,"y":-760.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","instanceIdentifier":"16e39d76-af00-3921-3a14-96a871105f0f","name":"Twitter Data Generator","comments":"","position":{"x":608.0,"y":-776.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M4"},"properties":{"Script File":null,"Script Engine":"Groovy","sleep.time.ms":"10","Script Body":"import java.nio.charset.StandardCharsets\nimport java.text.SimpleDateFormat\nimport org.apache.nifi.processor.io.StreamCallback\nimport java.util.concurrent.TimeUnit;\n\n// Create a new flow file since there's no upstream processor providing one\nflowFile = session.create()\nif (!flowFile) return\n\ndef random = new Random()\n\nwords = [\n    \"amazing\", \"awesome\", \"beautiful\", \"brilliant\", \"clever\", \"cool\",\n    \"fantastic\", \"funny\", \"great\", \"incredible\", \"interesting\", \"kind\",\n    \"lovely\", \"nice\", \"perfect\", \"powerful\", \"smart\", \"wonderful\"\n]\n\nphrases = [\n    \"can't believe\", \"so excited about\", \"just discovered\", \"finally got\", \"totally in love with\",\n    \"blown away by\", \"impressed with\", \"amazed by\", \"inspired by\", \"motivated by\",\n    \"can't wait to see\", \"looking forward to see\", \"eager to see\", \"ready to see\", \"prepared for\"\n]\n\nhashtags = [\n    \"DevOps\", \"Cloud\", \"Security\", \"BigData\", \"AI\", \"MachineLearning\",\n    \"DataScience\", \"Cybersecurity\", \"IoT\", \"Blockchain\",\n    \"SoftwareDevelopment\", \"WebDevelopment\", \"MobileDevelopment\",\n    \"OpenSource\", \"Agile\", \"DevOpsEngineering\", \"CloudEngineer\",\n    \"SecurityEngineering\", \"MachineLearningEngineering\"\n]\n\n\n// Function to generate a random tweet\ndef generateTweet(random, words, phrases, hashtags) {\n    def tweet = [:]\n    \n    // Generate random tweet text using parameters\n    def randomWord = words[random.nextInt(words.size())]\n    def randomPhrase = phrases[random.nextInt(phrases.size())]\n    def randomHashtag = hashtags[random.nextInt(hashtags.size())]\n    \n    tweet.text = \"${randomPhrase} how ${randomWord} ${randomHashtag} is!\"\n    \n    // Generate random tweet creation date\n    tweet.created_at = new Date().getTime()\n    \n    // Generate random tweet id and id_str\n    tweet.id = random.nextLong()\n    tweet.id_str = tweet.id.toString()\n    \n    // Set other random or fixed values for remaining fields\n    tweet.truncated = true\n    tweet.entities = [:]\n    tweet.entities.hashtags = [[text: randomHashtag]]\n    tweet.metadata = [iso_language_code: \"en\", result_type: \"recent\"]\n    tweet.source = \"<a href=\\\"http://www.twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\"\n    \n    return tweet\n}\n\n// Generate tweets by passing random, words, phrases, and hashtags as arguments\ndef tweets = []\nfor (i in 0..10) {\n    tweets.add(generateTweet(random, words, phrases, hashtags))\n}\n\n// Convert to JSON string using JsonBuilder for pretty output\ndef json = new groovy.json.JsonBuilder(tweets).toPrettyString()\n\n// Write the JSON to the flowfile content using StreamCallback\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    outputStream.write(json.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Get sleep time from flow file attribute (assuming attribute name is \"sleep.time.ms\")\n//def sleepTimeString = flowFile.getAttributes().get(\"sleep.time.ms\")\n//long sleepTimeInMs = Long.parseLong(sleepTimeString)\nThread.sleep(100)\n\n// Transfer the flow file to the next processor\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sleep.time.ms":{"name":"sleep.time.ms","displayName":"sleep.time.ms","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","instanceIdentifier":"eeece692-18cf-36ef-f5e3-53a70feced98","name":"LogMessage","comments":"","position":{"x":1296.0,"y":-576.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","instanceIdentifier":"ea1b57ed-506b-3d17-9c1a-b6c20e52eb27","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":608.0,"y":-576.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M4"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","bootstrap.servers":"se-var-vastdb-ingest:19092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"73ea1aeb-30ab-3580-933d-68093b4dc792","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"id","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"streaming-demo","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1becd583-ba40-356f-a810-1aef595b7c66","instanceIdentifier":"aa19913a-26eb-365a-1d46-f6d66263f045","name":"","source":{"id":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"Twitter Data Generator","comments":"","instanceIdentifier":"16e39d76-af00-3921-3a14-96a871105f0f"},"destination":{"id":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"LogMessage","comments":"","instanceIdentifier":"eeece692-18cf-36ef-f5e3-53a70feced98"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1472.0,"y":-712.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"f72861f9-ee76-3232-b841-10cd273238ce","instanceIdentifier":"425da298-6edd-3abd-2023-f18fb4418eba","name":"","source":{"id":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"Twitter Data Generator","comments":"","instanceIdentifier":"16e39d76-af00-3921-3a14-96a871105f0f"},"destination":{"id":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"ea1b57ed-506b-3d17-9c1a-b6c20e52eb27"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"bca10cf3-3b52-34a7-86d1-1e4052fc1152","instanceIdentifier":"f3410920-0800-3144-458f-4b4213eae820","name":"","source":{"id":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"ea1b57ed-506b-3d17-9c1a-b6c20e52eb27"},"destination":{"id":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"LogMessage","comments":"","instanceIdentifier":"eeece692-18cf-36ef-f5e3-53a70feced98"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"},{"identifier":"d195df89-2426-3212-8498-fc0cf8c70940","instanceIdentifier":"e96091ea-dd92-37dc-b819-fff05ab7ff53","name":"Consume from Kafka","comments":"","position":{"x":392.0,"y":-536.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"92afc7cb-642f-3f4b-9b3c-6ef49af3a400","instanceIdentifier":"53bbae13-3ba3-3d32-a645-7a6c2db70a19","name":"ExecuteScript - extract key fields","comments":"","position":{"x":216.0,"y":8.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M4"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n// Get the flow file from the session\nflowFile = session.get()\nif (!flowFile) return\n\n// Read the flow file content and process each line separately\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n\n    // Split the input by newlines to get each JSON object separately\n    def lines = text.split('\\n')\n\n    def jsonSlurper = new JsonSlurper()\n    def extractedJsonList = []\n\n    // Process each line (assuming each line is a valid JSON object)\n    lines.each { line ->\n        def jsonObject = jsonSlurper.parseText(line)\n\n        // Extract the first four attributes from the JSON object\n        def extractedAttributes = [\n            \"created_at\": jsonObject.created_at,\n            \"id\": jsonObject.id,\n            \"id_str\": jsonObject.id_str,\n            \"text\": jsonObject.text\n        ]\n\n        extractedJsonList << extractedAttributes\n    }\n\n    // Convert the list of extracted JSON objects to a pretty-printed JSON string\n    def newJson = JsonOutput.prettyPrint(JsonOutput.toJson(extractedJsonList))\n\n    // Write the new JSON string to the output stream\n    outputStream.write(newJson.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Transfer the flow file to the success relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"5bf95f85-6bee-3502-a643-c5bb399d7f63","instanceIdentifier":"aac9a0f6-03b8-3d5f-0b74-ab0b074919a5","name":"ConvertRecord","comments":"","position":{"x":1048.0,"y":224.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","Record Reader":"73ea1aeb-30ab-3580-933d-68093b4dc792"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"5c812da7-66a4-32cc-af69-999068405853","instanceIdentifier":"b4deb84a-b415-3a9a-56e8-b93f1e022f50","name":"LogMessage","comments":"","position":{"x":-208.0,"y":616.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","instanceIdentifier":"3a46d207-543f-35e0-1054-a48e48786f4e","name":"LogMessage","comments":"","position":{"x":1416.0,"y":616.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"4694ed33-f95a-36c3-945a-bc146f74ca91","instanceIdentifier":"51c57dbe-2800-39dd-79a2-59006038be6a","name":"ExecuteScript - extract key fields","comments":"","position":{"x":1056.0,"y":8.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M4"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n// Get the flow file from the session\nflowFile = session.get()\nif (!flowFile) return\n\n// Read the flow file content and process each line separately\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n\n    // Split the input by newlines to get each JSON object separately\n    def lines = text.split('\\n')\n\n    def jsonSlurper = new JsonSlurper()\n    def extractedJsonList = []\n\n    // Process each line (assuming each line is a valid JSON object)\n    lines.each { line ->\n        def jsonObject = jsonSlurper.parseText(line)\n\n        // Extract the first four attributes from the JSON object\n        def extractedAttributes = [\n            \"created_at\": jsonObject.created_at,\n            \"id\": jsonObject.id,\n            \"id_str\": jsonObject.id_str,\n            \"text\": jsonObject.text\n        ]\n\n        extractedJsonList << extractedAttributes\n    }\n\n    // Convert the list of extracted JSON objects to a pretty-printed JSON string\n    def newJson = JsonOutput.prettyPrint(JsonOutput.toJson(extractedJsonList))\n\n    // Write the new JSON string to the output stream\n    outputStream.write(newJson.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Transfer the flow file to the success relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"fe269459-3a8f-3a1d-95ba-595878d0ad1e","instanceIdentifier":"7bfee485-740b-36b9-f4a1-e508e2c5062f","name":"ConvertRecord","comments":"","position":{"x":208.0,"y":224.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","Record Reader":"73ea1aeb-30ab-3580-933d-68093b4dc792"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"0b4341ca-6592-3d2c-84d9-289995ae1ffa","instanceIdentifier":"f19620fa-de04-3f78-b7a5-ef08425afad0","name":"ConsumeKafka - streaming-demo-2","comments":"","position":{"x":216.0,"y":-200.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.0.0-M4"},"properties":{"Topics":"streaming-demo-2","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"1 s","Kafka Connection Service":"d78a9bfc-73d5-3e28-a4c6-d0c0f1220dc6","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"demogroup2","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"67dbe0c7-92b6-3a54-8ae7-07de718122d4","instanceIdentifier":"3a8fa1e8-cccf-3d14-8f4c-d11caff9a945","name":"ConsumeKafka - streaming-demo","comments":"","position":{"x":1056.0,"y":-200.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.0.0-M4"},"properties":{"Topics":"streaming-demo","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"1 s","Kafka Connection Service":"d78a9bfc-73d5-3e28-a4c6-d0c0f1220dc6","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"demogroup","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"111314f3-1df4-3f21-bfc8-59c5a1cab504","instanceIdentifier":"25d618b7-aa7e-3833-acf3-0f725138ea81","name":"PutVastDB","comments":"","position":{"x":1048.0,"y":432.0},"type":"python.PutVastDB","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.8"},"properties":{"VastDB Table Name":"twitter_data","VastDB Database Schema":"twitter_import","Data Type":"Json","VastDB Bucket":"csnowdb","VastDB Endpoint":"http://172.200.201.1:80","VastDB Credentials Provider Service":"43fb3340-a307-360c-869b-68ce6ca06b53"},"propertyDescriptors":{"VastDB Table Name":{"name":"VastDB Table Name","displayName":"VastDB Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Database Schema":{"name":"VastDB Database Schema","displayName":"VastDB Database Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Type":{"name":"Data Type","displayName":"Data Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Bucket":{"name":"VastDB Bucket","displayName":"VastDB Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Endpoint":{"name":"VastDB Endpoint","displayName":"VastDB Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Credentials Provider Service":{"name":"VastDB Credentials Provider Service","displayName":"VastDB Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"88a73d4f-1fac-37f8-b237-16ea11e25ded","instanceIdentifier":"17c3a8b7-924e-34f2-5d0e-98977923c884","name":"PutVastDB","comments":"","position":{"x":208.0,"y":432.0},"type":"python.PutVastDB","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.8"},"properties":{"VastDB Table Name":"twitter_data","VastDB Database Schema":"twitter_import","Data Type":"Json","VastDB Bucket":"csnowdb","VastDB Endpoint":"http://172.200.201.1:80","VastDB Credentials Provider Service":"43fb3340-a307-360c-869b-68ce6ca06b53"},"propertyDescriptors":{"VastDB Table Name":{"name":"VastDB Table Name","displayName":"VastDB Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Database Schema":{"name":"VastDB Database Schema","displayName":"VastDB Database Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Type":{"name":"Data Type","displayName":"Data Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Bucket":{"name":"VastDB Bucket","displayName":"VastDB Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Endpoint":{"name":"VastDB Endpoint","displayName":"VastDB Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Credentials Provider Service":{"name":"VastDB Credentials Provider Service","displayName":"VastDB Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2c6b0ef8-67a9-31f0-89f7-4fc281bd7718","instanceIdentifier":"c11bfcc7-62a6-3577-23a8-0d19b2bb94d1","name":"","source":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"aac9a0f6-03b8-3d5f-0b74-ab0b074919a5"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"3a46d207-543f-35e0-1054-a48e48786f4e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1594.7529296875,"y":288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"7aea9945-b5d8-3737-8937-b99c3d6fbe91","instanceIdentifier":"d1ddc5a7-7da3-38bc-68d7-891e4faf4811","name":"","source":{"id":"88a73d4f-1fac-37f8-b237-16ea11e25ded","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"PutVastDB","comments":"","instanceIdentifier":"17c3a8b7-924e-34f2-5d0e-98977923c884"},"destination":{"id":"5c812da7-66a4-32cc-af69-999068405853","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"b4deb84a-b415-3a9a-56e8-b93f1e022f50"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"529a48ec-ee49-3f7a-925f-f5d7ebf48ab3","instanceIdentifier":"c9a4b02b-9776-3a0e-b8cb-511f8bc982d5","name":"","source":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"aac9a0f6-03b8-3d5f-0b74-ab0b074919a5"},"destination":{"id":"111314f3-1df4-3f21-bfc8-59c5a1cab504","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"PutVastDB","comments":"","instanceIdentifier":"25d618b7-aa7e-3833-acf3-0f725138ea81"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"3d55464f-fdcb-3fb4-8300-11bc39a4ab69","instanceIdentifier":"d664b378-772d-3b8c-ea4a-4a68774bbbab","name":"","source":{"id":"0b4341ca-6592-3d2c-84d9-289995ae1ffa","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConsumeKafka - streaming-demo-2","comments":"","instanceIdentifier":"f19620fa-de04-3f78-b7a5-ef08425afad0"},"destination":{"id":"92afc7cb-642f-3f4b-9b3c-6ef49af3a400","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"53bbae13-3ba3-3d32-a645-7a6c2db70a19"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"8cfb91e5-2c39-3ac4-94ab-59104cf7e837","instanceIdentifier":"1a197833-fe04-3244-8d61-44082e5cc3cf","name":"","source":{"id":"fe269459-3a8f-3a1d-95ba-595878d0ad1e","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"7bfee485-740b-36b9-f4a1-e508e2c5062f"},"destination":{"id":"88a73d4f-1fac-37f8-b237-16ea11e25ded","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"PutVastDB","comments":"","instanceIdentifier":"17c3a8b7-924e-34f2-5d0e-98977923c884"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"e7d6f42e-d0f4-34c5-a287-f36dfda27cc0","instanceIdentifier":"6427a72a-b87b-3d05-69de-b7ec840ca5cd","name":"","source":{"id":"67dbe0c7-92b6-3a54-8ae7-07de718122d4","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConsumeKafka - streaming-demo","comments":"","instanceIdentifier":"3a8fa1e8-cccf-3d14-8f4c-d11caff9a945"},"destination":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"51c57dbe-2800-39dd-79a2-59006038be6a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"5254e7fe-d7b8-3ac1-b0f5-3a09f7c26376","instanceIdentifier":"d0b5b178-35f4-3acd-e196-2bf363bc36fe","name":"","source":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"51c57dbe-2800-39dd-79a2-59006038be6a"},"destination":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"aac9a0f6-03b8-3d5f-0b74-ab0b074919a5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"52f80e00-cb41-3a7b-95d8-284b085925b5","instanceIdentifier":"d5c0bc88-9846-381f-2685-4334e5937c53","name":"","source":{"id":"fe269459-3a8f-3a1d-95ba-595878d0ad1e","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"7bfee485-740b-36b9-f4a1-e508e2c5062f"},"destination":{"id":"5c812da7-66a4-32cc-af69-999068405853","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"b4deb84a-b415-3a9a-56e8-b93f1e022f50"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-32.0,"y":288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"9c8aebe3-b151-3cd7-ab8d-89ef3f6977b2","instanceIdentifier":"1361bb11-61f0-3d83-4ef1-2606db941878","name":"","source":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"51c57dbe-2800-39dd-79a2-59006038be6a"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"3a46d207-543f-35e0-1054-a48e48786f4e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1594.7529296875,"y":72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"2a1d6871-26ad-3d06-bf7c-179528ed0505","instanceIdentifier":"63d68a8d-b2c1-3bdb-ef98-99f5b359dd69","name":"","source":{"id":"92afc7cb-642f-3f4b-9b3c-6ef49af3a400","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"53bbae13-3ba3-3d32-a645-7a6c2db70a19"},"destination":{"id":"5c812da7-66a4-32cc-af69-999068405853","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"b4deb84a-b415-3a9a-56e8-b93f1e022f50"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-32.0,"y":72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"241daf40-6e17-311c-88ae-a5d27028d8ca","instanceIdentifier":"bf31ed05-e513-3396-a210-2e3d1ef24c16","name":"","source":{"id":"111314f3-1df4-3f21-bfc8-59c5a1cab504","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"PutVastDB","comments":"","instanceIdentifier":"25d618b7-aa7e-3833-acf3-0f725138ea81"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"3a46d207-543f-35e0-1054-a48e48786f4e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"703b181f-f920-3039-84c8-7b848366b709","instanceIdentifier":"b23282f9-7226-3fd4-4071-cbf1cace2e59","name":"","source":{"id":"92afc7cb-642f-3f4b-9b3c-6ef49af3a400","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"53bbae13-3ba3-3d32-a645-7a6c2db70a19"},"destination":{"id":"fe269459-3a8f-3a1d-95ba-595878d0ad1e","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"7bfee485-740b-36b9-f4a1-e508e2c5062f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d78a9bfc-73d5-3e28-a4c6-d0c0f1220dc6","instanceIdentifier":"4318ec11-cf59-3ff1-067a-83b670aaabcf","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.0.0-M4"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 s","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 s","bootstrap.servers":"${DOCKER_HOST_OR_IP}:19092","default.api.timeout.ms":"60 s"},"propertyDescriptors":{"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"73ea1aeb-30ab-3580-933d-68093b4dc792","instanceIdentifier":"af2c895e-b2db-3133-7018-78a43f088b92","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"},{"identifier":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","instanceIdentifier":"48325a4a-7936-382d-9541-18e24c44e6ef","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e87ff5e2-4a7c-3725-a3ee-148beb2fbabc"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"43fb3340-a307-360c-869b-68ce6ca06b53","instanceIdentifier":"aeffa904-cb0a-3e51-1579-40077e523ea9","name":"VastDB - AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e87ff5e2-4a7c-3725-a3ee-148beb2fbabc"},{"identifier":"f4d5318a-367a-32d1-b434-62928d73ea58","instanceIdentifier":"01b167b5-56b9-3967-3a8d-2e063a88e415","name":"S3A - AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e87ff5e2-4a7c-3725-a3ee-148beb2fbabc"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
