demos/streaming_lakehouse/assets/NiFi_Flow.json
{"flowContents":{"identifier":"b497a875-4830-31dd-82fb-2c6998b0c6fb","instanceIdentifier":"e9942c5b-0192-1000-85ca-60bcec174ddf","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384","instanceIdentifier":"f391fb9c-0192-1000-8e9d-1a4d90b9460c","name":"Bulk Import","comments":"","position":{"x":-248.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"18562f78-aad3-3460-8587-c129fc2e149a","instanceIdentifier":"f398a08a-0192-1000-1ba4-951749f0ea1b","name":"LogMessage","comments":"","position":{"x":-408.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"5b17813e-f536-31bf-9980-0d708313d98e","instanceIdentifier":"f3aff272-0192-1000-2beb-f5ed1a7e30c1","name":"ImportVastDB","comments":"","position":{"x":-1008.0,"y":-464.0},"type":"python.ImportVastDB","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.8"},"properties":{"VastDB Table Name":"userdata","VastDB Database Schema":"users_import","VastDB Bucket":"csnowdb","Schema Merge":"Union","VastDB Endpoint":"http://172.200.201.1:80","VastDB Credentials Provider Service":"38168747-1051-3cb8-925b-71bf6486ce35"},"propertyDescriptors":{"VastDB Table Name":{"name":"VastDB Table Name","displayName":"VastDB Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Database Schema":{"name":"VastDB Database Schema","displayName":"VastDB Database Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Bucket":{"name":"VastDB Bucket","displayName":"VastDB Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Merge":{"name":"Schema Merge","displayName":"Schema Merge","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Endpoint":{"name":"VastDB Endpoint","displayName":"VastDB Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Credentials Provider Service":{"name":"VastDB Credentials Provider Service","displayName":"VastDB Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"bd99598a-bc29-3d8e-b697-97330c47c59e","instanceIdentifier":"f39357ac-0192-1000-5dd7-bcd495c19aa3","name":"ListS3","comments":"","position":{"x":-1008.0,"y":-672.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"list-type":"1","et-initial-listing-target":"all","prefix":"import-files/","record-writer":"e42c496a-d5cf-3a6d-961d-04e28a054fe4","proxy-configuration-service":null,"Endpoint Override URL":"http://172.200.201.1:80","et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":"68f8ede2-0ee9-3a80-972f-1aabe2b6ddcb","Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"csnow-bucket","Communications Timeout":"30 secs","Region":"us-west-2","et-state-cache":null,"use-versions":"false"},"propertyDescriptors":{"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cc90e528-bc8f-3dd0-809e-31640145563c","instanceIdentifier":"f3b03598-0192-1000-c976-7f901212efcb","name":"","source":{"id":"5b17813e-f536-31bf-9980-0d708313d98e","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"ImportVastDB","comments":"","instanceIdentifier":"f3aff272-0192-1000-2beb-f5ed1a7e30c1"},"destination":{"id":"18562f78-aad3-3460-8587-c129fc2e149a","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"LogMessage","comments":"","instanceIdentifier":"f398a08a-0192-1000-1ba4-951749f0ea1b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"c2224e5e-417e-3ead-826e-6ee58bcf0663","instanceIdentifier":"f398c7f6-0192-1000-b675-a4fbf51e095c","name":"","source":{"id":"bd99598a-bc29-3d8e-b697-97330c47c59e","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"ListS3","comments":"","instanceIdentifier":"f39357ac-0192-1000-5dd7-bcd495c19aa3"},"destination":{"id":"5b17813e-f536-31bf-9980-0d708313d98e","type":"PROCESSOR","groupId":"4c15a130-fd25-3b87-b66a-8b2f5701c384","name":"ImportVastDB","comments":"","instanceIdentifier":"f3aff272-0192-1000-2beb-f5ed1a7e30c1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"38168747-1051-3cb8-925b-71bf6486ce35","instanceIdentifier":"f3b085f5-0192-1000-3949-90ae9dc7deae","name":"DB AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"68f8ede2-0ee9-3a80-972f-1aabe2b6ddcb","instanceIdentifier":"f393c754-0192-1000-4c9c-db8cd60e34e8","name":"S3 AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"},{"identifier":"e42c496a-d5cf-3a6d-961d-04e28a054fe4","instanceIdentifier":"f3957e11-0192-1000-4e40-5b3385350175","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4c15a130-fd25-3b87-b66a-8b2f5701c384"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b497a875-4830-31dd-82fb-2c6998b0c6fb"},{"identifier":"54239340-e7ca-316e-a55c-e09a42580445","instanceIdentifier":"e9b87872-0192-1000-584e-faf75186ad0c","name":"Streaming","comments":"","position":{"x":-246.0,"y":-182.5},"processGroups":[{"identifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","instanceIdentifier":"6c100fc3-2106-3408-054f-9fcfca8445a2","name":"Publish to Kafka","comments":"","position":{"x":392.0,"y":-760.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","instanceIdentifier":"395f8dde-9e05-3bbb-9677-853d19eb6311","name":"Twitter Data Generator","comments":"","position":{"x":608.0,"y":-776.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M4"},"properties":{"Script File":null,"Script Engine":"Groovy","sleep.time.ms":"10","Script Body":"import java.nio.charset.StandardCharsets\nimport java.text.SimpleDateFormat\nimport org.apache.nifi.processor.io.StreamCallback\nimport java.util.concurrent.TimeUnit;\n\n// Create a new flow file since there's no upstream processor providing one\nflowFile = session.create()\nif (!flowFile) return\n\ndef random = new Random()\n\nwords = [\n    \"amazing\", \"awesome\", \"beautiful\", \"brilliant\", \"clever\", \"cool\",\n    \"fantastic\", \"funny\", \"great\", \"incredible\", \"interesting\", \"kind\",\n    \"lovely\", \"nice\", \"perfect\", \"powerful\", \"smart\", \"wonderful\"\n]\n\nphrases = [\n    \"can't believe\", \"so excited about\", \"just discovered\", \"finally got\", \"totally in love with\",\n    \"blown away by\", \"impressed with\", \"amazed by\", \"inspired by\", \"motivated by\",\n    \"can't wait to see\", \"looking forward to see\", \"eager to see\", \"ready to see\", \"prepared for\"\n]\n\nhashtags = [\n    \"DevOps\", \"Cloud\", \"Security\", \"BigData\", \"AI\", \"MachineLearning\",\n    \"DataScience\", \"Cybersecurity\", \"IoT\", \"Blockchain\",\n    \"SoftwareDevelopment\", \"WebDevelopment\", \"MobileDevelopment\",\n    \"OpenSource\", \"Agile\", \"DevOpsEngineering\", \"CloudEngineer\",\n    \"SecurityEngineering\", \"MachineLearningEngineering\"\n]\n\n\n// Function to generate a random tweet\ndef generateTweet(random, words, phrases, hashtags) {\n    def tweet = [:]\n    \n    // Generate random tweet text using parameters\n    def randomWord = words[random.nextInt(words.size())]\n    def randomPhrase = phrases[random.nextInt(phrases.size())]\n    def randomHashtag = hashtags[random.nextInt(hashtags.size())]\n    \n    tweet.text = \"${randomPhrase} how ${randomWord} ${randomHashtag} is!\"\n    \n    // Generate random tweet creation date\n    tweet.created_at = new Date().getTime()\n    \n    // Generate random tweet id and id_str\n    tweet.id = random.nextLong()\n    tweet.id_str = tweet.id.toString()\n    \n    // Set other random or fixed values for remaining fields\n    tweet.truncated = true\n    tweet.entities = [:]\n    tweet.entities.hashtags = [[text: randomHashtag]]\n    tweet.metadata = [iso_language_code: \"en\", result_type: \"recent\"]\n    tweet.source = \"<a href=\\\"http://www.twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\"\n    \n    return tweet\n}\n\n// Generate tweets by passing random, words, phrases, and hashtags as arguments\ndef tweets = []\nfor (i in 0..10) {\n    tweets.add(generateTweet(random, words, phrases, hashtags))\n}\n\n// Convert to JSON string using JsonBuilder for pretty output\ndef json = new groovy.json.JsonBuilder(tweets).toPrettyString()\n\n// Write the JSON to the flowfile content using StreamCallback\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    outputStream.write(json.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Get sleep time from flow file attribute (assuming attribute name is \"sleep.time.ms\")\n//def sleepTimeString = flowFile.getAttributes().get(\"sleep.time.ms\")\n//long sleepTimeInMs = Long.parseLong(sleepTimeString)\nThread.sleep(10)\n\n// Transfer the flow file to the next processor\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sleep.time.ms":{"name":"sleep.time.ms","displayName":"sleep.time.ms","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","instanceIdentifier":"b025bcdb-5cac-3a26-8f2f-859d3a3192fb","name":"LogMessage","comments":"","position":{"x":1296.0,"y":-576.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","instanceIdentifier":"b6170f1d-41f9-37a4-547e-cbdc4856a0c9","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":608.0,"y":-576.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M4"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","bootstrap.servers":"se-var-vastdb-ingest:19092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"73ea1aeb-30ab-3580-933d-68093b4dc792","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"id","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"streaming-demo","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1becd583-ba40-356f-a810-1aef595b7c66","instanceIdentifier":"7fa43f27-30fb-3f61-4fb7-1a673f4b8930","name":"","source":{"id":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"Twitter Data Generator","comments":"","instanceIdentifier":"395f8dde-9e05-3bbb-9677-853d19eb6311"},"destination":{"id":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"LogMessage","comments":"","instanceIdentifier":"b025bcdb-5cac-3a26-8f2f-859d3a3192fb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1472.0,"y":-712.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"f72861f9-ee76-3232-b841-10cd273238ce","instanceIdentifier":"3e5db4f4-2893-3f45-0908-2541762482cb","name":"","source":{"id":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"Twitter Data Generator","comments":"","instanceIdentifier":"395f8dde-9e05-3bbb-9677-853d19eb6311"},"destination":{"id":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"b6170f1d-41f9-37a4-547e-cbdc4856a0c9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"},{"identifier":"bca10cf3-3b52-34a7-86d1-1e4052fc1152","instanceIdentifier":"1f0a2cb8-235a-3524-000e-fdf3a462f12a","name":"","source":{"id":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"b6170f1d-41f9-37a4-547e-cbdc4856a0c9"},"destination":{"id":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","type":"PROCESSOR","groupId":"2ba33062-0e41-38b3-ab0a-cb9d328099d4","name":"LogMessage","comments":"","instanceIdentifier":"b025bcdb-5cac-3a26-8f2f-859d3a3192fb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2ba33062-0e41-38b3-ab0a-cb9d328099d4"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"},{"identifier":"d195df89-2426-3212-8498-fc0cf8c70940","instanceIdentifier":"b358eb6a-2d54-3917-da0a-be407dec18eb","name":"Consume from Kafka","comments":"","position":{"x":392.0,"y":-536.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5bf95f85-6bee-3502-a643-c5bb399d7f63","instanceIdentifier":"7dd4183b-cb0f-3807-520c-ab5b2005c220","name":"ConvertRecord","comments":"","position":{"x":600.0,"y":224.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","Record Reader":"73ea1aeb-30ab-3580-933d-68093b4dc792"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","instanceIdentifier":"67fc72cc-74b0-313a-94fa-b8f31d532691","name":"LogMessage","comments":"","position":{"x":1296.0,"y":432.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"4694ed33-f95a-36c3-945a-bc146f74ca91","instanceIdentifier":"5b94f4ed-580a-36db-19d2-5bfade993f05","name":"ExecuteScript - extract key fields","comments":"","position":{"x":608.0,"y":8.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M4"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n// Get the flow file from the session\nflowFile = session.get()\nif (!flowFile) return\n\n// Read the flow file content and process each line separately\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n\n    // Split the input by newlines to get each JSON object separately\n    def lines = text.split('\\n')\n\n    def jsonSlurper = new JsonSlurper()\n    def extractedJsonList = []\n\n    // Process each line (assuming each line is a valid JSON object)\n    lines.each { line ->\n        def jsonObject = jsonSlurper.parseText(line)\n\n        // Extract the first four attributes from the JSON object\n        def extractedAttributes = [\n            \"created_at\": jsonObject.created_at,\n            \"id\": jsonObject.id,\n            \"id_str\": jsonObject.id_str,\n            \"text\": jsonObject.text\n        ]\n\n        extractedJsonList << extractedAttributes\n    }\n\n    // Convert the list of extracted JSON objects to a pretty-printed JSON string\n    def newJson = JsonOutput.prettyPrint(JsonOutput.toJson(extractedJsonList))\n\n    // Write the new JSON string to the output stream\n    outputStream.write(newJson.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Transfer the flow file to the success relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"310b078d-8e60-3dea-8870-5a8de387c851","instanceIdentifier":"31715227-5480-3d03-f853-1bbfbb741e9d","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":608.0,"y":-200.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M4"},"properties":{"header-name-regex":null,"Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","group.id":"demogroup","bootstrap.servers":"se-var-vastdb-ingest:19092","topic_type":"pattern","sasl.kerberos.service.name":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":"73ea1aeb-30ab-3580-933d-68093b4dc792","kerberos-user-service":null,"message-header-encoding":"UTF-8","key-format":"byte-array","sasl.username":null,"max.poll.records":"10000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"key-record-reader":null,"sasl.token.auth":"false","Communications Timeout":"60 secs","topic":"^[A-Za-z0-9\\s-]+$","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-strategy":{"name":"output-strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Value Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Value Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key-format":{"name":"key-format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"key-record-reader":{"name":"key-record-reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"111314f3-1df4-3f21-bfc8-59c5a1cab504","instanceIdentifier":"02f25353-5322-3830-c64c-7991e1028b2e","name":"PutVastDB","comments":"","position":{"x":600.0,"y":432.0},"type":"python.PutVastDB","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.8"},"properties":{"VastDB Table Name":"twitter_data","VastDB Database Schema":"twitter_import","Data Type":"Json","VastDB Bucket":"csnowdb","VastDB Endpoint":"http://172.200.201.1:80","VastDB Credentials Provider Service":"85e9a84b-62b5-3d6f-bbf3-48cea7855d55"},"propertyDescriptors":{"VastDB Table Name":{"name":"VastDB Table Name","displayName":"VastDB Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Database Schema":{"name":"VastDB Database Schema","displayName":"VastDB Database Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Type":{"name":"Data Type","displayName":"Data Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Bucket":{"name":"VastDB Bucket","displayName":"VastDB Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Endpoint":{"name":"VastDB Endpoint","displayName":"VastDB Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Credentials Provider Service":{"name":"VastDB Credentials Provider Service","displayName":"VastDB Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2c6b0ef8-67a9-31f0-89f7-4fc281bd7718","instanceIdentifier":"7d628053-6618-3fc1-98de-eef37d00a689","name":"","source":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"7dd4183b-cb0f-3807-520c-ab5b2005c220"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"67fc72cc-74b0-313a-94fa-b8f31d532691"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1263.0,"y":285.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"529a48ec-ee49-3f7a-925f-f5d7ebf48ab3","instanceIdentifier":"e6a83d05-3cb7-30db-c3cb-ff242fb3707e","name":"","source":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"7dd4183b-cb0f-3807-520c-ab5b2005c220"},"destination":{"id":"111314f3-1df4-3f21-bfc8-59c5a1cab504","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"PutVastDB","comments":"","instanceIdentifier":"02f25353-5322-3830-c64c-7991e1028b2e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"ca88fd13-0d27-3e11-8246-9b086efc4abd","instanceIdentifier":"9be33020-73d3-3db6-b9bb-961cf52921c6","name":"","source":{"id":"310b078d-8e60-3dea-8870-5a8de387c851","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConsumeKafkaRecord_2_6","comments":"","instanceIdentifier":"31715227-5480-3d03-f853-1bbfbb741e9d"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"67fc72cc-74b0-313a-94fa-b8f31d532691"},"labelIndex":0,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1471.0,"y":-139.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"95391e2c-ff97-3248-8997-f12c9e3c74d1","instanceIdentifier":"2061b032-eb3f-3abf-e784-7c61e54e3f4a","name":"","source":{"id":"310b078d-8e60-3dea-8870-5a8de387c851","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConsumeKafkaRecord_2_6","comments":"","instanceIdentifier":"31715227-5480-3d03-f853-1bbfbb741e9d"},"destination":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"5b94f4ed-580a-36db-19d2-5bfade993f05"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"5254e7fe-d7b8-3ac1-b0f5-3a09f7c26376","instanceIdentifier":"d7fc1536-6dc8-37a8-38a9-c91e48cca56d","name":"","source":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"5b94f4ed-580a-36db-19d2-5bfade993f05"},"destination":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ConvertRecord","comments":"","instanceIdentifier":"7dd4183b-cb0f-3807-520c-ab5b2005c220"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"241daf40-6e17-311c-88ae-a5d27028d8ca","instanceIdentifier":"f30faafe-c388-3232-ed84-dc25690beee5","name":"","source":{"id":"111314f3-1df4-3f21-bfc8-59c5a1cab504","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"PutVastDB","comments":"","instanceIdentifier":"02f25353-5322-3830-c64c-7991e1028b2e"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"67fc72cc-74b0-313a-94fa-b8f31d532691"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"},{"identifier":"9c8aebe3-b151-3cd7-ab8d-89ef3f6977b2","instanceIdentifier":"88677547-aebd-3aa7-af11-3c910fb937d2","name":"","source":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"5b94f4ed-580a-36db-19d2-5bfade993f05"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"d195df89-2426-3212-8498-fc0cf8c70940","name":"LogMessage","comments":"","instanceIdentifier":"67fc72cc-74b0-313a-94fa-b8f31d532691"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1343.0,"y":69.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7ed97e72-63eb-3bfd-b7b1-4d44c0c8d01d","instanceIdentifier":"226faa14-46de-3f82-d642-d4a3407552c4","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"2.0.0-M4"},"properties":{"hadoop-config-resources":null,"warehouse-location":"s3a://datastore/","hive-metastore-uri":"thrift://192.168.0.10:9083"},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d195df89-2426-3212-8498-fc0cf8c70940"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"73ea1aeb-30ab-3580-933d-68093b4dc792","instanceIdentifier":"e2a8f84a-9a4e-3e41-480b-32a4c13aaabe","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"},{"identifier":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","instanceIdentifier":"1d765e80-8cff-3e14-d37b-8bae24e8d5c8","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"},{"identifier":"85e9a84b-62b5-3d6f-bbf3-48cea7855d55","instanceIdentifier":"ab22a845-b82b-3f5d-4e41-5f4cf91e0259","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"},{"identifier":"60d89fbe-06e1-3bdc-afb2-c83e9669b623","instanceIdentifier":"7885c349-bf3a-3cfc-84a9-1055e5b1842d","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"54239340-e7ca-316e-a55c-e09a42580445"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b497a875-4830-31dd-82fb-2c6998b0c6fb"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}